################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# IDEs and editors
.vs/
obj/
bin/
/Web_News/obj/
/Web_News/bin/
/.vs/