
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/Web_News.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/layoutpage/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet" />
    <title>@ViewBag.title</title>
</head>
<body>
    <header>
	
        <div class="header-top">
            <a href="/" id="logo-link">
                <div id="logo">
                    <img src="~/images/newlogo.jpg" alt="NewFlash">
                </div>
            </a>

            <div class="search-container">
                <form class="search-form" id="searchForm" method="get" asp-controller="News" asp-action="SearchNews" onsubmit="return validateSearch()">
                    <input type="text" class="search-input" id="searchInput" name="searchQuery" placeholder="Tìm kiếm...">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <span class="separator">|</span>
            <partial name="_PartialLogin" />
        </div>
    </header>
        <!-- Thanh Menu -->
    @await Component.InvokeAsync("Menu")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">
        <div class="footer-content container">
            <div class="footer-main">
                <p>&copy; 2003-2024. Toàn bộ bản quyền thuộc <strong>NewFlash</strong></p>
                <div class="footer-links">
                    <a href="#">Chính sách bảo mật</a> | <a href="#">Điều khoản sử dụng</a>
                </div>
            </div>
            <div class="footer-contact">
                <h3><i class="fas fa-phone-alt"></i> Hợp tác truyền thông</h3>
                <p><i class="fas fa-envelope"></i> Liên hệ: <a href="mailto:contact@newflash.com">contact@newflash.com</a></p>
                <p><i class="fas fa-phone"></i> Số điện thoại: <span>070 376 2255</span></p>
                <p><i class="fab fa-facebook"></i> Facebook: <a href="https://www.facebook.com/NguyenLuccc/" target="_blank">NewFlash</a></p>
            </div>
            <div class="footer-advertising">
                <h3><i class="fas fa-bullhorn"></i> Liên hệ quảng cáo</h3>
                <p><i class="fas fa-envelope"></i> Liên hệ: <a href="mailto:ads@newflash.com">ads@newflash.com</a></p>
                <p><i class="fas fa-phone"></i> Số điện thoại: <span>070 376 2255</span></p>
                <p><i class="fab fa-facebook"></i> Facebook: <a href="https://www.facebook.com/NguyenLuccc/" target="_blank">NewFlash Ads</a></p>
            </div>
        </div>
    </footer>


    <script src="~/layoutpage/scripts.js"></script>
    <script>
        function validateSearch() {
            var searchInput = document.getElementById('searchInput').value.trim(); 
            if (searchInput === "") {
                return false; 
            }
            return true; 
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
    <script src="~/layoutpage/toggleheadervisibility.js"></script>
 
</body>

</html>