@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization

<!-- Kiểm tra xem người dùng đã đăng nhập hay chưa -->
@if (User.Identity.IsAuthenticated)
{
    <div class="profile-dropdown">
        <p class="profile-name">Welcome, @User.Identity.Name!</p>
        <div class="dropdown-content">
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    </div>
}
else
{
    <div class="auth-links">
        <a asp-controller="Account" asp-action="Login">Login</a>

    </div>
}
