.nut-custom {
    display: inline-block;
    font-weight: bold; /* Chữ dày hơn */
    color: white; /* Màu chữ trắng */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background: linear-gradient(to bottom right, #d9534f, #a94442); /* Gradient nền từ đỏ đậm đến đỏ nhạt hơn */
    border: none; /* Không có viền */
    padding: 0.875rem 2.5rem;
    font-size: 1rem; /* Kích thước chữ */
    border-radius: 0.1875rem;
    transition: background 0.3s ease, color 0.3s ease; /* Chuyển đổi màu nền và chữ khi hover */
}

    .nut-custom:hover {
        background: linear-gradient(to bottom right, #c9302c, #d9534f); /* Gradient nền khi hover từ đỏ nhạt đến đỏ đậm hơn */
        color: #f0f0f0; /* Màu chữ trắng nhạt hơn */
    }

    /* Khi nút bị vô hiệu hóa */
    .nut-custom:disabled, .nut-custom.disabled {
        color: #fff; /* Màu chữ trắng khi bị vô hiệu hóa */
        background-color: #dc3545; /* Màu nền đỏ khi bị vô hiệu hóa */
        border-color: #dc3545; /* Viền đỏ khi bị vô hiệu hóa */
        opacity: 0.65; /* Độ mờ khi bị vô hiệu hóa */
    }
