.custom-control.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff; /* Màu nền khi bật */
}

.custom-control.custom-switch .custom-control-label::before {
    background-color: #e9ecef; /* Màu nền khi tắt */
    border-radius: 1.25rem; /* Tạo hình dạng của nút chuyển đổi */
}

.custom-control.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.25rem); /* Di chuyển nút chuyển đổi */
}
