@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Trang chủ";
}
<div class="results" id="results"></div>
<div class="container">
    <div class="main-content">
        <h2 class="tieudiemtuan">TIÊU ĐIỂM TUẦN</h2>
        <div class="grid-container">
            <!-- Bài viết lớn trên cùng -->
            <article class="grid-item-large article">
                <div class="article-headers">

                    <img src="https://baogiaothong.mediacdn.vn/zoom/648_405/603483875699699712/2024/7/30/anhviber2024-07-3020-17-19-026-1722345778615181861368-17223477346292057045385-48-0-1048-1600-crop-17223478496082098828461.jpg" alt="Ảnh bài viết lớn">

                    <div class="article-contents">
                        <h3><a href="chi-tiet-bai-viet-1.html">"Thủ tướng Phạm Minh Chính lên đường thăm cấp Nhà nước tới Ấn Độ</a></h3>
                        <div class="article-meta">
                        </div>
                        <p class="article-summary">Tối 30/7, Thủ tướng Chính phủ Phạm Minh Chính cùng Đoàn đại biểu Việt Nam đã rời Thủ đô Hà Nội, lên đường thăm cấp Nhà nước tới Ấn Độ.</p>
                    </div>
            </article>

            <!-- Các bài viết nhỏ dưới cùng -->
            <article class="article grid-item-small">
                <div class="article-header">
                    <img src="https://cdnphoto.dantri.com.vn/Kj11NVwVH_FV-iX2AmbefcvYHs4=/zoom/240_160/2024/07/31/pin-du-phong-cua-hanh-khach-boc-chay-o-san-bay-tan-son-nhat-1-edited-1722397371029.jpeg" alt="Ảnh bài viết 2">
                    <div class="article-content">
                        <h3><a href="chi-tiet-bai-viet-1.html">Pin dự phòng của hành khách bốc cháy ở sân bay Tân Sơn Nhất.</a></h3>
                        <div class="article-meta">
                        </div>
                    </div>
                </div>
                <p>Cục pin dự phòng trong kiện hàng ký gửi của hành khách bị lực lượng an ninh sân bay yêu cầu bỏ lại, sau đó pin này bất ngờ phát nổ.</p>
            </article>
            <article class="article grid-item-small">
                <div class="article-header">
                    <img src="https://cdnphoto.dantri.com.vn/2Sx7ho_qQu3sYKKViORU1y1M1jw=/zoom/240_160/2024/07/31/3-1722393135563.jpg" alt="Ảnh bài viết 3">
                    <div class="article-content">
                        <h3><a href="chi-tiet-bai-viet-1.html">Thành phố Hội An "chiều" dư luận, sơn lại Chùa Cầu… cho cũ?</a></h3>
                        <div class="article-meta">
                        </div>
                    </div>
                </div>
                <p>Hình ảnh thợ quét vôi phần dưới lan can Chùa Cầu, hướng về sông Hoài khiến nhiều người cho rằng chính quyền Hội An đã chỉ đạo thay đổi màu sơn.</p>
            </article>
            <article class="article grid-item-small">
                <div class="article-header">
                    <img src="https://cdnphoto.dantri.com.vn/vrQXHBtaIaNgqvQyp_3K4JZOcVA=/zoom/240_160/2024/06/05/8stcja-1717554703039.gif" alt="Ảnh bài viết 4">
                    <div class="article-content">
                        <h3><a href="chi-tiet-bai-viet-2.html">Chiến sự Ukraine 31/7: Phòng tuyến của Kiev sụp đổ, Toretsk gặp nguy hiểm</a></h3>
                        <div class="article-meta">
                        </div>
                    </div>
                </div>
                <p>Theo hướng Toretsk, Nga đã cải thiện vị trí của mình và chiếm phần lớn làng Zalizne, cũng như kiểm soát hoàn toàn làng Pivdinne. Ukraine sẽ gặp khó nếu 2 khu mỏ với các vị trí kiên cố thất thủ.</p>
            </article>
        </div>


        <h2>CÓ THỂ BẠN QUAN TÂM</h2>
        <div class="recommendations">
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/NsXz-qOzYWXpbd5zYB2qcNGFjq0=/zoom/351_234/2024/03/29/giao-dich-ngan-hang-21tien-tuan-crop-crop-1711717911736.jpeg" alt="Ảnh bài viết 1">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-1.html">Lương lãnh đạo Thế Giới Di Động gây bất ngờ.</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-1"></p>
                </div>
            </div>
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/uf1sL8ve6EuMdqNsAIWacuORs2w=/zoom/351_234/2024/07/31/img7537-1722402396256184724217-edited-1722407159753.jpeg" alt="Ảnh bài viết 2">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-2.html">Tỷ phú giàu nhất châu Á muốn "rót tiền" vào nhiều dự án lớn ở Việt Nam.</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-2"></p>
                </div>
            </div>
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/SzSBFU24xiOGa5Jozsu8Ac7HDTU=/zoom/351_234/2024/07/31/4177-crop-1722401504232.jpeg" alt="Ảnh bài viết 3">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-3.html">Hamas bị ảnh hưởng thế nào sau khi thủ lĩnh bị ám sát?</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-3"></p>
                </div>
            </div>
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/jnwujmAS6J--EGcYpXfDqzqm2CQ=/zoom/351_234/2024/07/31/c80713de8c2b2975703a-crop-1722383209108.jpeg" alt="Ảnh bài viết 4">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-4.html">Siu Black sau tái hôn: "Tôi và chồng thấu hiểu hơn, không cãi vã như trước"</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-4"></p>
                </div>
            </div>
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/fw5yQp_-rQ2PjXGbHjl2IPuzuec=/zoom/351_234/2024/07/22/daugiadat-thuthiemnamanhdji0683-1721622482730.jpg" alt="Ảnh bài viết 5">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-5.html">BDân "choáng váng" khi nghe tin TPHCM dự kiến tăng giá đất 5-50 lần từ 1/8</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-5"></p>
                </div>
            </div>
            <div class="recommendation-item">
                <img src="https://cdnphoto.dantri.com.vn/HoBmG-0KmorPk3orq9zs2rL80xg=/zoom/351_234/2024/07/31/thuylinh-1722383851227-crop-1722401676949.jpeg" alt="Ảnh bài viết 6">
                <div class="recommendation-content">
                    <h3><a href="chi-tiet-bai-viet-6.html">Nguyễn Thùy Linh thi đấu với vận động viên hàng đầu của Mỹ</a></h3>
                    <p class="date-time">Ngày đăng: <span class="date"></span></p>
                    <p id="rec-time-6"></p>
                </div>
            </div>
        </div>



        <h2>TIN NHANH 360</h2>
        <div class="news-360">
            <div class="grid-container">
                <!-- Bài viết lớn trên cùng -->
                <article class="grid-item-large article">
                    <div class="article-headers">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/748_467/603483875699699712/2024/7/29/vanh-dai-3-172225197457474660798-92-0-733-1026-crop-17222519806781046677836.jpg" alt="Ảnh bài viết lớn">
                        <div class="article-contents">
                            <h3><a href="chi-tiet-bai-viet-1.html">Vành đai 3 TP.HCM sau 1 năm khởi công: Nhà thầu vừa thi công vừa ngóng cát</a></h3>
                            <div class="article-meta">
                            </div>
                            <p class="article-summary">Sau một năm khởi công xây dựng dự án Vành đai 3, một số hạng mục đã được các nhà thầu triển khai vượt tiến độ. Tuy nhiên, thách thức lớn nhất của dự án hiện nay là thiếu cát để gia tải nền đường yếu.</p>
                        </div>
                </article>

                <!-- Các bài viết nhỏ dưới cùng -->
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/30/z568202275559198acf6c89d09aedbd304e5b335dcbced-17223374847961675406318-0-0-1440-2304-crop-1722344925041189732028.jpg" alt="Ảnh bài viết 2">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-1.html">Cao tốc Mỹ Thuận - Cần Thơ thu phí từ ngày 1/10?</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Mới đây, trên mạng xã hội lan truyền thông tin cao tốc Mỹ Thuận - Cần Thơ đoạn qua địa bàn tỉnh Vĩnh Long và Đồng Tháp sẽ thu phí từ ngày 1/10/2024 theo mức 2. Kèm theo đó, là bảng...</p>
                </article>
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/267d5089-4439-4861-9c5b-d1bc7efc3ce8-1722421399251469986236-0-0-1501-2402-crop-1722421438710501176194.jpeg" alt="Ảnh bài viết 3">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-1.html">Metro Nhổn - ga Hà Nội chính thức được cấp chứng nhận an toàn hệ thống</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Ban QLDA Đường sắt đô thị Hà Nội vừa cho biết, ngày 30/7, tuyến đường sắt đô thị Nhổn - ga Hà Nội chính thức được cấp chứng nhận an toàn hệ thống, xác nhận được thiết kế, xây...</p>
                </article>
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/a5-1722425035292977400992-70-0-1222-1843-crop-17224250582461500380925.jpg" alt="Ảnh bài viết 4">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-2.html">Vietjet tặng 1 năm bay miễn phí cho hành khách thứ 200 triệu, mở đường bay mới tới Ấn Độ</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Tại Diễn đàn Doanh nghiệp Việt Nam - Ấn Độ diễn ra tại Thủ đô New Delhi, Vietjet vừa chào đón hành khách thứ 200 triệu. Đồng thời, hãng công bố đường bay mới Ahmedabad – Đà Nẵng.</p>
                </article>
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/anh-man-hinh-2024-07-31-luc-173232-17224221472291143162760-0-89-528-934-crop-172242230352778547043.png" alt="Ảnh bài viết 4">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-2.html">Bàn phương án kiểm định khí thải xe máy</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Luật Trật tự, an toàn giao thông đường bộ 2024 quy định xe mô tô, xe gắn máy sẽ phải thực hiện kiểm định khí thải. Kịch bản và phương án cho việc này vẫn đang được nghiên cứu, tính toán...</p>
                </article>
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/0f97fedb-d48b-4763-a3db-ff0285fc3a64-17224176079351701872888-0-0-1600-2560-crop-17224186304551568840661.jpeg" alt="Ảnh bài viết 4">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-2.html">Vì sao chưa "phạt nguội" phương tiện trên đường Phạm Văn Bạch?</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Dù nhiều phương tiện vi phạm quy định về ATGT, song, theo lãnh đạo Sở GTVT Hà Nội, hệ thống giao thông thông minh tại 2 nút giao trên đường này được lắp đặt phục vụ thu thập thông...</p>
                </article>
                <article class="article grid-item-small">
                    <div class="article-header">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/9-nhung-trai-nghiem-thu-vi-da-mang-lai-cho-cac-em-nhung-ky-niem-dang-nho-17224268207291865245391-0-0-1600-2560-crop-1722427276303279385178.jpg" alt="Ảnh bài viết 4">
                        <div class="article-content">
                            <h3><a href="chi-tiet-bai-viet-2.html">Vietnam Airlines tổ chức "Chuyến đi mơ ước" cho trẻ em hoàn cảnh khó khăn</a></h3>
                            <div class="article-meta">
                            </div>
                        </div>
                    </div>
                    <p>Trong hai ngày 23 và 24/7, Vietnam Airlines chủ trì hợp tác cùng nhiều đơn vị tổ chức "Chuyến đi Mơ ước 3" cho trẻ em có hoàn cảnh khó khăn ở tỉnh Khánh Hòa.</p>
                </article>
            </div>
        </div>

        <div class="national-news">
            <h2>TIN TRONG NƯỚC</h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5685710280158-95f62cd7f6fe9f49febab4505885d3fe-17224159462271724394110-0-189-1125-1989-crop-172241595500795411914.jpg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Dự án đường Vành đai 3 TP.HCM gặp khó vì thiếu cát xây nền</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Dự án đường Vành đai 3 TP.HCM, đoạn qua Bình Dương thiếu khoảng 600.000m3 cát đắp nền khiến cho tiến độ thi công đang gặp khó.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/nguyen-van-thang-832-17001205360821354531449-86-0-1336-2000-crop-17224217152451635721883.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Bộ trưởng GTVT cảm ơn những người gác đường trong bão lũ</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Bộ trưởng Nguyễn Văn Thắng gửi thư biểu dương cán bộ, công nhân viên và người lao động ngành đường bộ đã tận tâm, tận lực, khắc phục các điểm sạt lở do thiên tai để phương tiện...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/anh-man-hinh-2024-07-31-luc-140647-17224096247871364854121-0-0-1433-2293-crop-17224097065031601346248.png" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Bộ GTVT công bố tình huống khẩn cấp về thiên tai tại Nghệ An</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Bộ Giao thông vận tải (GTVT) vừa công bố tình huống khẩn cấp về thiên tai để ứng phó, khắc phục hư hỏng kết cấu hạ tầng giao thông đường bộ tại lý trình từ Km 264+300 - Km 264+900...</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/31/z568444146609384dd251aa4160850ef1b1b4abdc29a5d-17223929291711897489780-0-170-1080-1898-crop-1722394858522601667450.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Động đất liên tục, đời sống người dân vùng tâm chấn ra sao?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Từ 4/2021 đến nay, huyện Kon Plông, tỉnh Kon Tum và vùng lân cận xảy ra hơn 700 trận động đất gây ảnh hưởng không nhỏ tới đời sống, tinh thần của người dân vùng tâm chấn.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/photo-1722412735052-1722412735177760131619-0-0-800-1280-crop-1722412792216728154603.jpeg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Agribank - Ngân hàng vì cộng đồng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Trong 6 tháng đầu năm 2024, toàn hệ thống Agribank đã dành trên 220 tỷ đồng cho các hoạt động an sinh xã hội.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/su-hop-tac-giua-pvfcco-va-ttc-agris-gop-phan-mang-den-nhung-vu-mia-boi-thu-1722400627658143774205-0-0-654-1046-crop-172240064318478040127.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">NPK Phú Mỹ gắn kết "Đất màu mỡ - Mía ngọt ngào”</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Những người nông dân chân chất, nhà khoa học với tâm huyết cùng nhau bắt tay vào dự án phân tích đất tại vùng trồng mía, cây mía sẽ trở nên xanh tươi hơn, ngọt ngào hơn và mang...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="international-news">
            <h2><a href="/Views/the-gioi/the-gioi.html">TIN THẾ GIỚI</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/upload/images/2021-1/article_avatar_img/2021-02-08/img-bgt-2021-ong-donald-trump-anh-sky-news-1612769336-width1280height720.jpg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Tin quốc tế mới nhất: Mỹ gói gọn quy trình luận tội Trump</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Tin quốc tế mới nhất liên quan tới các vấn đề hiệu quả vắc-xin, tình hình biểu tình tại Myanmar, luận tội Trump...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/upload/images/2021-1/article_avatar_img/2021-02-06/img-bgt-2021-may-bay-boeing-c-40-1612582971-width1280height720.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">BTin quốc tế mới nhất 6/2: Mỹ tiếp tục tỏ thái độ cứng rắn với Trung Quốc</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Ngày 6/2, tin tức quốc tế mới nhất tiếp tục xoay quanh điểm nóng trên thế giới như đảo chính Myanmar, căng thẳng giữa Trung Quốc-Anh,...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/upload/images/2021-1/article_avatar_img/2021-02-05/img-bgt-2021-khu-truc-ham-uss-john-s-1612526967-width1280height720.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Tin quốc tế mới nhất : Chiến hạm Mỹ áp sát Hoàng Sa</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Những thông tin quốc tế mới nhất xoay quanh diễn biến luận tội của Tổng thống Mỹ Donald Trump; căng thẳng Eo biển Đài Loan; đảo chính Myanmar.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/31/thu-linh-hamas-17224010717141698859785-38-0-663-1000-crop-17224010800101222802315.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Israel đột kích tiêu diệt thủ lĩnh khét tiếng của Hamas?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Phong trào Hồi giáo Hamas ngày 31/7 cáo buộc Israel tiến hành đột kích tiêu diệt thủ lĩnh Ismail Haniyeh tại tư dinh của ông ở Tehran - thủ đô Iran sau khi ông tham dự lễ nhậm chức của Tổng thống Iran.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/29/photol11zon-17222404546391513196476-27-0-627-960-crop-1722240552721368212827.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Máy bay hạ cánh khẩn vì hai vợ chồng khách cãi vã</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Ngày 30/7, trang The Indepedent của Anh đưa tin chuyến bay EI738 từ Dublin (Ireland) đến Mallorca (Tây Ban Nha) đã phải hạ cánh khẩn cấp xuống Nantes (Pháp) do hai hành khách là...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/landslide-in-wayanad-kerala-meppadi11zon-17223393383681815087153-2-0-752-1200-crop-172233946166352283910.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Ấn Độ: Mưa lớn, lở đất dữ dội bất thường, cầu huyết mạch bị cuốn sập</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Ngày 30/7, giới chức Ấn Độ xác nhận đã tìm thấy ít nhất 44 thi thể mất tích, bao gồm 1 trẻ em, sau khi mưa lớn gây lở đất kinh hoàng tại bang Kerala. Công tác cứu hộ đã gián đoạn khi sạt...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="economic-news">
            <h2><a href="/Views/kinh-te/kinh-te.html">TIN KINH TẾ</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/may-moc-1-17224179287251414484492-0-0-720-1152-crop-1722418031028394903926.jpg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Gần 4.500 khách hàng tiêu thụ điện lớn cam kết dịch chuyển giờ sản xuất với EVNNPC</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Theo EVNNPC, hiện đã có 4.494 khách hàng có mức tiêu thụ từ 1 triệu kWh/năm trở lên trên toàn EVNNPC với tiềm năng điều chỉnh phụ tại khoảng 1.000 MW, đã ký cam kết với tổng công ty..</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/anh-tsv-3-17224010171082096309007-0-0-1600-2560-crop-1722401122291846269871.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Agribank triển khai chương trình “Agribank đồng hành cùng tân sinh viên năm 2024”</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Để chào đón khách hàng là tân sinh viên năm học 2024 - 2025 tại các trường đại học, cao đẳng trên cả nước, Agribank triển khai chương trình khuyến mại “Agribank đồng hành cùng...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/29/photo-1722265669990-17222656706821999611192-84-0-1334-2000-crop-17222657713191119394374.jpeg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Bất động sản Bà Rịa - Vũng Tàu “nóng” ở phía biển</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Nhà đất ở các huyện giáp biển hoặc có đường kết nối ra biển khu vực tỉnh Bà Rịa - Vũng Tàu đang dần ấm lên, giá tăng từng ngày, nhất là khi quy hoạch về hạ tầng giao thông và đô thị...</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/22/449304509-892031946303306-3215041723258544969-n-1721641758878935436393-0-0-1200-1920-crop-1721641763755388597567.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Techcombank lợi nhuận trước thuế 6 tháng đầu năm đạt 15,6 nghìn tỷ đồng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Techcombank tiếp tục gặt hái những kết quả kinh doanh tích cực, với lợi nhuận trước thuế quý 2 đạt 7.827 tỷ đồng, tăng 38,5% so với cùng kỳ năm trước; lũy kế 6 tháng đạt 15.628...
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/d7a0051-17223313731051568042647-0-120-1166-1986-crop-1722331394732173211623.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">PVFCCo: Nhiều hoạt động thiết thực, ý nghĩa kỷ niệm ngày Thương binh liệt sỹ</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Kỷ niệm 77 năm Ngày Thương binh - Liệt sĩ (27/7/1947 - 27/7/2024), Tổng công ty Phân bón và Hóa chất Dầu khí (PVFCCo) đã tổ chức nhiều hoạt động ý nghĩa nhằm tri ân...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/mb-01-1722343140605728396305-56-0-1306-2000-crop-1722343150548733310867.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">MB tiếp tục dẫn đầu thị trường về CASA trong 6 tháng đầu năm</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Ngày 30/7, Ngân hàng TMCP Quân Đội (MB) đã công bố kết quả kinh doanh 6 tháng đầu năm 2024, ghi nhận tỷ lệ tăng trưởng CASA tiếp tục dẫn đầu thị trường.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="culture-news">
            <h2><a href="/Views/van-hoa/van-hoa.html">TIN VĂN HÓA</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/pax-thien1-1722386065762263421677-263-0-1113-1360-crop-1722386205112592520314.jpg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Dự án đường Vành đai 3 TP.HCM gặp khó vì thiếu cát xây nền</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Dự án đường Vành đai 3 TP.HCM, đoạn qua Bình Dương thiếu khoảng 600.000m3 cát đắp nền khiến cho tiến độ thi công đang gặp khó.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/nguyen-van-thang-832-17001205360821354531449-86-0-1336-2000-crop-17224217152451635721883.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Con trai gốc Việt của Angelina Jolie gặp tai nạn giao thông: Sức khỏe giờ ra sao?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Tờ CNN (Mỹ) vừa cập nhật thông tin mới nhất về tình hình sức khỏe của Pax Thiên - con trai gốc Việt của Angelina Jolie sau vụ tai nạn giao thông cách đây một ngày.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/thumb-1680158052-20230330-hani-17223428755371968023623-17223430957021419947281.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Chồng chưa cưới dính bê bối, Hani bị fan hâm mộ lên án kịch liệt</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Nữ idol đình đám Hani (EXID) đang bị người hâm mộ lên án kịch liệt trên các diễn đàn mạng xã hội do bê bối của chồng chưa cưới.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/44901822518673855671090437281426674441314142n-17223352939211715136992-129-0-1409-2048-crop-1722335609435312945588.jpeg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Nam chính phim giờ vàng VTV nói gì về tin đồn "phim giả tình thật" với bạn diễn?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Minh Hoàng - diễn viên đóng vai nam chính của phim "Những nẻo đường gần xa" khẳng định, dù đã đóng với nhiều nữ diễn viên xinh đẹp, nhưng anh chưa "phim giả tình thật" với ai.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/thang-duy1-1722333086029722231154-40-0-678-1020-crop-17223332381861808893496.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Agribank - Ngân hàng vì cộng đồng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Trong 6 tháng đầu năm 2024, toàn hệ thống Agribank đã dành trên 220 tỷ đồng cho các hoạt động an sinh xã hội.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/su-hop-tac-giua-pvfcco-va-ttc-agris-gop-phan-mang-den-nhung-vu-mia-boi-thu-1722400627658143774205-0-0-654-1046-crop-172240064318478040127.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Sáng tỏ tin đồn diễn viên Thang Duy qua đời</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Công ty quản lý của Thang Duy lên tiếng phủ nhận tin đồn diễn viên đã qua đời. "Thang Duy vẫn còn sống. Đừng tin những tin tức giả mạo", thông cáo nêu rõ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sports-news">
            <h2><a href="/Views/the-thao/the-thao.html">TIN THỂ THAO</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/ibrahim-maza-0204162140-17224470419931914962431-0-0-666-1065-crop-17224470465521326298794.jpeg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Bốn đội bóng Ngoại hạng Anh tranh nhau sao Việt kiều</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Có đến bốn đội bóng ở giải Ngoại hạng Anh nhắm đến việc chiêu mộ cầu thủ Việt kiều Ibrahim Maza.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/63bd7bfb7d00d85e8111-17224506313931462001722-0-34-389-656-crop-17224506365321356989375.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Thống kê đáng quên của thể thao Đông Nam Á tại Olympic Paris 2024</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Dù Olympic Paris 2024 đã khởi tranh được khoảng 1 tuần nhưng các đoàn thể thao Đông Nam Á vẫn chưa giành được tấm huy chương nào.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/d9364e5729a98cf7d5b8-1722426269643483628006-0-49-501-851-crop-1722426274741497229752.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Bốn đội bóng Việt Nam nguy cơ bỏ giải vì cùng một lý do</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Có đến 4 đội bóng hạng Nhất nguy cơ bỏ giải vì các vấn đề liên quan đến kinh phí hoạt động.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/be81ed1d93f336ad6fe2-1722330263703808471400-116-0-696-928-crop-1722330273981648757986.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Olympic 2024: Thi đấu quyết tâm, VĐV Việt Nam vẫn không thể giành huy chương</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Dù thi đấu đầy nỗ lực nhưng tay chèo Phạm Thị Huệ vẫn không thể vào nhóm tranh huy chương ở nội dung thuyền đơn hạng nặng nữ.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/4226064a71a6d4f88db7-17223227716381464331573-0-0-750-1200-crop-17223227742881681402850.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Tự loại mình khỏi Olympic 2024, võ sĩ judo nguy cơ nhận án phạt cực nặng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Võ sĩ môn judo - Redouane Messaoud Dris của Algeria được cho là cố ý thừa cân để bị xử thua.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/30/dinh-bac-3-2-1722315987362449501447-37-0-662-1000-crop-1722315992929202420280.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Nhà cựu vô địch V-League chi đậm chiêu mộ “trò cưng” HLV Troussier?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>CLB Công an Hà Nội (CAHN) đang nhắm đến việc chiêu mộ tiền đạo Nguyễn Đình Bắc từ Quảng Nam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="health-news">
            <h2><a href="/Views/suc-khoe/suc-khoe.html">TIN SỨC KHỎE</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/img3193-172242753727491455438-0-0-747-1195-crop-1722427813375919215110.jpeg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">7 nhân viên ngân hàng nhập viện nghi ngộ độc khí CO do máy phát điện</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Do ngân hàng mất điện nên đã dùng máy phát, sau đó có 7 nhân viên bị đau đầu, chóng mặt, bứt rứt, khó thở, tim đập nhanh... phải nhập viện cấp cứu.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/aaaaa-17224215610351289241644-0-186-1441-2492-crop-1722421692123909628944.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Bạc Liêu: Thăm hỏi, hỗ trợ gia đình hai bé sinh đôi đuối nước tử vong</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Chính quyền địa phương đã kịp thời thăm hỏi, động viên và trao hỗ trợ cho gia đình hai cháu bé sinh đôi ở Bạc Liêu bị đuối nước tử vong.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/img20240731124738-1722404881814592069575-0-0-562-899-crop-17224049143291100263458.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Xác minh vụ thai phụ đẻ rơi sau khi khám khiến bé sơ sinh tử vong</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Sở Y tế Cà Mau đã thành lập tổ xác minh, làm rõ việc thai phụ sinh con rớt trên đường khiến cháu bé tử vong. Sáng cùng ngày, thai phụ đã khám tại trung tâm y tế.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/edit-anh-man-hinh-2024-07-26-luc-115059-1721969515279101753668-0-136-764-1358-crop-17224039746682045661110.png" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Cà Mau: Làm rõ nguyên nhân nhiều công nhân nhập viện sau bữa trưa?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Ngành chức năng tỉnh Cà Mau đang kiểm tra, làm rõ nguyên nhân nhiều công nhân của Công ty may Hoàng Tâm nghi bị ngộ độc thực phẩm sau buổi ăn trưa.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/29/huong-dan-so-cap-cuu-tngt-1722220868796622400255-45-0-587-867-crop-17222208747281411911565.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Agribank - Ngân hàng vì cộng đồng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Sơ cấp cứu TNGT hiệu quả, cần tuân thủ các nguyên tắc sau</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/244_153/603483875699699712/2024/4/5/scc2-1712304559295654732277-208-0-1399-1906-crop-1712304566693279095626.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Nữ điều dưỡng cứu sống du khách ngừng tim trong quán ăn: 5 nguyên tắc khi sơ cấp cứu</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Mới đây, một điều dưỡng Trung tâm Cấp cứu A9 Bệnh viện Bạch Mai đã cứu mạng một du khách nước ngoài tại Đà Nẵng nhờ sơ cứu đúng cách, kịp thời.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tech-news">
            <h2><a href="/Views/cong-nghe/cong-nghe.html">TIN CÔNG NGHỆ</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/19/blade-battery-keystone-dev-from-byd-01-17213819096701678049635-0-245-647-1280-crop-1721381920153820118365.jpeg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Pin lưỡi dao - công nghệ chủ lực của xe điện BYD</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Cả ba mẫu xe điện BYD đầu tiên ra mắt tại Việt Nam đều sử dụng pin lưỡi dao, công nghệ do BYD phát triển và được đối thủ Tesla trang bị trên mẫu Model Y.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/18/photo-1721313034422-17213130357691792687046-166-0-1416-2000-crop-17213130866731509443230.jpeg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Công nghệ hỗ trợ lái xe có thay thế được tài xế?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Các mẫu ô tô mới hiện nay đều được trang bị nhiều tính năng, công nghệ hỗ trợ lái xe nâng cao. Tuy nhiên, tài xế không thể vì vậy mà chủ quan, có thể dẫn tới hậu quả đáng tiếc..</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/18/4z4t4hymnzov7n3hj2plfdfqru-172128585557041024197-0-0-1250-2000-crop-17212859191881599491534.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Mỹ có thể hạn chế ô tô sử dụng phần mềm Trung Quốcn</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Những ô tô sử dụng phần mềm có liên quan đến Trung Quốc sẽ bị hạn chế tại Mỹ.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/15/ban-sao-a3-1-1721063123514574433371-0-0-1017-1627-crop-1721063146828584696005.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Trợ lý ảo ViVi trên VinFast VF 8 Lux tích hợp công nghệ đặc biệt</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                VinFast VF 8 Lux là mẫu ô tô thương mại đầu tiên trên thế giới có trợ lý ảo tích hợp công nghệ AI tạo sinh.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/13/photo-1-16022298280341405015240-1720680665098735479972-0-18-318-527-crop-17208879146511436610572.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Động cơ tăng áp lép vế trước kỷ nguyên xe xanh</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Động cơ tăng áp mất dần vị thế khi mà các tiêu chuẩn khí thải khắt khe được đưa ra và sự phát triển mạnh mẽ của kỷ nguyên xe xanh.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/13/trump-17208357994862059093339-0-0-1250-2000-crop-17208358039921606793782.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Meta dỡ bỏ giới hạn tài khoản Facebook và Instagram của ông Trump</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Tập đoàn Meta vừa tuyên bố dỡ bỏ giới hạn đối với tài khoản Facebook và Instagram của ông Trump ngay trước thềm Đại hội toàn quốc Đảng Cộng hòa diễn ra vào tuần tới.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="tech-news">
            <h2><a href="/Views/phap-luat/phap-luat.html">TIN PHÁP LUẬT</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/10/edit-samsung-py20240810154758-2144-17232987552912113373588-0-100-543-969-crop-1723298829230114866565.jpeg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Khởi tố 6 bị can vụ lan truyền thông tin nữ công nhân nhiễm HIV, lây nhiễm cho nhiều người</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Sau khi vào cuộc điều tra, cơ quan công an đã khởi tố 6 bị can về hành vi truyền bá văn hóa phẩm đồi trụy trong vụ tung tin đồn nữ công nhân nhiễm HIV tại Thái Nguyên.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/18/photo-1721313034422-17213130357691792687046-166-0-1416-2000-crop-17213130866731509443230.jpeg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Công nghệ hỗ trợ lái xe có thay thế được tài xế?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Các mẫu ô tô mới hiện nay đều được trang bị nhiều tính năng, công nghệ hỗ trợ lái xe nâng cao. Tuy nhiên, tài xế không thể vì vậy mà chủ quan, có thể dẫn tới hậu quả đáng tiếc..</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/10/edit-danh-nguoi1-1723276781569-1723277601660661767532-3-0-409-650-crop-172327771675283095164.jpeg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Khởi tố đối tượng vô cớ dùng ghế đánh trọng thương người ở phòng trà Đỗ Hiếu</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Cơ quan Cảnh sát điều tra Công an TP Chí Linh (Hải Dương) đã quyết định khởi tố bị can Đỗ Văn Thiệm về tội Cố ý gây thương tích khi cầm ghế đánh người đàn ông bị thương tật 9%.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/10/a2-17232599116322082487419-0-0-800-1280-crop-1723259922341474122735.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Khởi tố tài xế xe container gây tai nạn làm 3 người tử vong tại Đắk Nông</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Ngày 10/8, lãnh đạo Công an huyện Đắk Mil (Đắk Nông) xác nhận, cơ quan điều tra vừa tống đạt quyết định khởi tố vụ án, khởi tố bị can, bắt tạm giam Hoàng Văn Nghĩa (36 tuổi,...
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/9/photo-1723174037586-1723174038664646293024-0-0-1126-1802-crop-17231740805861410148885.jpeg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Vướng lao lý vì trộm xe của chính mình</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Thời gian qua, không ít trường hợp bị khởi tố hình sự vì tự ý lấy phương tiện giao thông trong bãi tạm giữ của công an. Hành vi này cấu thành tội trộm cắp tài sản, song nhiều người vẫn cố...</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/9/tuyet-1-17232102246711729369201-231-0-794-900-crop-1723210240341816466775.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Khởi tố người phụ nữ ngăn cản thi công đường điện, hắt mắm tôm vào công an</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Người phụ nữ ở Thanh Hóa mang xô mắm tôm ra ngồi giữa đường, cản trở thi công đường điện 500kV mạch 3.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tech-news">
            <h2><a href="/Views/giao-duc/giao-duc.html">TIN GIÁO DỤC</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/22/6-17216380473251695935861-0-0-1600-2560-crop-1721638151409788884621.jpg" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Vì sao nên chia 3 nhóm nguyện vọng khi đăng ký xét tuyển đại học?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Theo các chuyên gia giáo dục, để tối ưu khả năng trúng tuyển vào ngành học yêu thích, thí sinh nên thực hiện theo chiến thuật chia 3 nhóm nguyện vọng.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/21/thi-lop-10-47-17150664285911282497870-0-0-1600-2560-crop-1721566301727645092944.jpg" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">TP.HCM tuyển bổ sung hơn 2.200 chỉ tiêu lớp 10 THPT công lập</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Có tổng cộng 36 trường THPT cần tuyển sinh bổ sung với 2.203 chỉ tiêu. Trong đó, Trường THPT Phong Phú (huyện Bình Chánh) tuyển bổ sung nhiều nhất với 300 chỉ tiêu.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/18/1000013325-1721283984241494292172-249-0-782-853-crop-1721284398864423728275.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Phú Thọ: Thí sinh hệ GDTX đạt 27 điểm trong kỳ thi tốt nghiệp THPT Quốc gia</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Thí sinh Nguyễn Anh Quân, lớp 12A1, Trung tâm Giáo dục nghề nghiệp - giáo dục thường xuyên huyện Đoan Hùng (Phú Thọ) có điểm xét tuyển tổ hợp A07 (Toán, Lịch sử, Địa lí) đạt 27,05 điểm.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/18/edit-8f05e2198d5628087147-17212742938091010229107-0-0-854-1366-crop-17212751512791587075490.jpeg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Nữ thủ khoa mồ côi cha và ước mơ trở thành cô giáo dạy văn</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Cha mất sớm, thủ khoa khối C Tô Thị Diệu đỡ đần mẹ, chăm em và tranh thủ thời gian rỗi để ôn tập các kiến thức.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/17/1000013281-17212047263981636175899-271-0-1521-2000-crop-17212047384046972648.jpg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Chân dung nữ thủ khoa khối D01 toàn quốc 2024 đến từ Vĩnh Phúc</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Là thủ khoa khối D01 với tổng điểm 28,75, Nguyễn Phương Linh - học sinh lớp chuyên Anh trường THPT chuyên Vĩnh Phúc (tỉnh Vĩnh Phúc).</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/17/thi-thpt-quoc-gia-2024-1721196059743233612461-0-0-479-766-crop-1721196108849924590583.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">Vĩnh Phúc tiếp tục dẫn đầu cả nước về điểm thi tốt nghiệp THPT 2024</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Học sinh tỉnh Vĩnh Phúc đạt trung bình 7,464 điểm, tăng 0,2 điểm so với năm ngoái, giúp tỉnh này giữ vững vị trí đứng đầu 63 tỉnh, thành phố.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="press-news">
            <h2><a href="/Views/giao-thong/giao-thong.html">TIN GIAO THÔNG</a></h2>
            <div class="news-list">
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/30/thumb-00-17223282751391956543903-1722328276276274420093-149-280-738-1223-crop-1722328287786358439168.png" alt="Mô tả hình ảnh 1">
                        <div class="news-details">
                            <h3><a href="#">Đi ngược chiều, đỗ xe giữa đường thi gan với ô tô đi đúng luật</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Người đi xe máy dù đi ngược chiều, cản trở xe đi đúng luật nhưng vẫn cố tình đỗ xe giữa đường thi gan tới 8 phút, gây ảnh hưởng cho các phương tiện lưu thông trên đường.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/29/00-17222251972241751018595-22-61-583-959-crop-1722225208940424009422.png" alt="Mô tả hình ảnh 2">
                        <div class="news-details">
                            <h3><a href="#">Lạnh người khoảnh khắc xe đầu kéo vượt ẩu ép xe bán tải sát lề đường</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Một chiếc xe đầu kéo ngang nhiên vượt ẩu tại khúc cua khuất tầm nhìn, ép xe bán tải sát lề đường. Trong khi đó, đoạn đường kẻ vạch vàng nét liền biểu thị không được lấn làn, cấm vượt.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/30/gettyimages-1205111263-rs-17223094556191813017732-0-57-1080-1785-crop-1722309459595202192962.jpg" alt="Mô tả hình ảnh 3">
                        <div class="news-details">
                            <h3><a href="#">Giải mã hiện tượng thác nước dưới đại dương</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Thác nước dưới đại dương ở Mauritius là một trong những hiện tượng thiên nhiên kỳ diệu nhất trên thế giới.</p>
                        </div>
                    </div>
                </div>
                <div class="news-column">
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/301_188/603483875699699712/2024/7/31/z568444146609384dd251aa4160850ef1b1b4abdc29a5d-17223929291711897489780-0-170-1080-1898-crop-1722394858522601667450.jpg" alt="Mô tả hình ảnh 4">
                        <div class="news-details">
                            <h3><a href="#">Động đất liên tục, đời sống người dân vùng tâm chấn ra sao?</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>
                                Từ 4/2021 đến nay, huyện Kon Plông, tỉnh Kon Tum và vùng lân cận xảy ra hơn 700 trận động đất gây ảnh hưởng không nhỏ tới đời sống, tinh thần của người dân vùng tâm chấn.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/photo-1722412735052-1722412735177760131619-0-0-800-1280-crop-1722412792216728154603.jpeg" alt="Mô tả hình ảnh 5">
                        <div class="news-details">
                            <h3><a href="#">Agribank - Ngân hàng vì cộng đồng</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Trong 6 tháng đầu năm 2024, toàn hệ thống Agribank đã dành trên 220 tỷ đồng cho các hoạt động an sinh xã hội.</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/su-hop-tac-giua-pvfcco-va-ttc-agris-gop-phan-mang-den-nhung-vu-mia-boi-thu-1722400627658143774205-0-0-654-1046-crop-172240064318478040127.jpg" alt="Mô tả hình ảnh 6">
                        <div class="news-details">
                            <h3><a href="#">NPK Phú Mỹ gắn kết "Đất màu mỡ - Mía ngọt ngào”</a></h3>
                            <p class="date-time">Ngày đăng: <span class="date"></span></p>
                            <p>Những người nông dân chân chất, nhà khoa học với tâm huyết cùng nhau bắt tay vào dự án phân tích đất tại vùng trồng mía, cây mía sẽ trở nên xanh tươi hơn, ngọt ngào hơn và mang...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="sidebar">
        <div class="sidebar-section">
            <h2>CHUYỆN DỌC ĐƯỜNG</h2>
            <!-- Mục sidebar 1 -->
            <a href="https://www.baogiaothong.vn/nguoi-dan-can-chuan-bi-gi-khi-ngoi-nha-dang-ky-xe-tu-ngay-1-8-192240731220137623.htm" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/300_188/603483875699699712/2024/7/31/z568598340167065757da5a2219fbfb0338d28d1c1b957-17224378587641926586432-85-0-1685-2560-crop-17224380259418516058.jpg" alt="Hình ảnh 1">
                <h2>Người dân cần chuẩn bị gì khi ngồi nhà đăng ký xe từ ngày 1/8?</h2>
            </a>
            <!-- Mục sidebar 2 -->
            <a href="https://www.baogiaothong.vn/di-nguoc-chieu-do-xe-giua-duong-thi-gan-voi-o-to-di-dung-luat-19224073015331627.htm" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/300_188/603483875699699712/2024/7/30/thumb-00-17223282751391956543903-1722328276276274420093-149-280-738-1223-crop-1722328287786358439168.png" alt="Hình ảnh 2">
                <h2>Đi ngược chiều, đỗ xe giữa đường thi gan với ô tô đi đúng luật</h2>
            </a>
            <!-- Mục sidebar 3 -->
            <a href="https://www.baogiaothong.vn/sap-dau-gia-lai-bien-so-vip-30k-99999-nhieu-lan-bi-bo-coc-192240801063237133.htm" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/300_188/603483875699699712/2024/7/31/edit-dau-gia-bien-so-17113417254-17224686839771960346220-0-0-946-1514-crop-1722468689043742948586.jpg" alt="Hình ảnh 3">
                <h2>Sắp đấu giá lại biển số VIP 30K-999.99 nhiều lần bị bỏ cọc</h2>
            </a>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/5c/c2/25/5cc2257f4cdc1e65174a0f06ebbf79fc.jpg" alt="Quảng Cáo Dọc">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/fd/10/dd/fd10ddd283008e79581d5cb932557f0e.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/b4/f1/65/b4f1657706054c68d982ba75c7de31a6.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/0b/38/75/0b387522397983d52752346a427e64bd.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/736x/8a/b0/9b/8ab09b86d26a0a15c902ad6b69baf90d.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div><div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/03/7d/6f/037d6fb9fe70f77f3b71aba4e15b4553.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>

            <!-- Mục sidebar 4 -->
            <a href="link-to-article4.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/8/1/x-1722476132560526768933-85-0-1365-2048-crop-17224763923252088668174.jpeg" alt="Hình ảnh 4">
                <h2>Trì hoãn đăng ký xe để chờ giảm 50% lệ phí trước bạ có bị xử phạt?</h2>
            </a>
            <!-- Mục sidebar 5 -->
            <a href="link-to-article5.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/1000000184-17224303552711508937762-182-0-1432-2000-crop-17224306938621853668613.jpg" alt="Hình ảnh 5">
                <h2>Nhận hối lộ, cựu chủ tịch, phó chủ tịch quận ở Đà Nẵng lĩnh án tù</h2>
            </a>
            <!-- Mục sidebar 6 -->
            <a href="link-to-article6.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/quang-binh-7184-17224279752431712459970-0-87-446-800-crop-17224280698101323652932.jpg" alt="Hình ảnh 6">
                <h2>Quảng Bình: Khởi tố vụ lừa bán khống cổ phần chiếm đoạt 18 tỷ đồng</h2>
            </a>
            <!-- Mục sidebar 7 -->
            <a href="link-to-article7.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/thumb-messengercreation65339d56-9811-43f9-bc47-714dcf78d149-17224209528891529910274-17224209557371404606635.jpeg" alt="Hình ảnh 7">
                <h2>Triệt phá nhóm đối tượng chuyên dàn cảnh, móc túi nơi đông người tại TP.HCM</h2>
            </a>
            <!-- Mục sidebar 8 -->
            <a href="link-to-article8.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5685917668447-715a9862ca862c942d89315c8e58b0f6-172242079609931041403-174-0-1424-2000-crop-172242080161626798335.jpg" alt="Hình ảnh 8">
                <h2>Thanh niên lĩnh 8 năm tù sau khi gọi hội đánh người trêu ghẹo vợ</h2>
            </a>
            <!-- Mục sidebar 9 -->
            <a href="link-to-article9.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/452257899-1020922929197302-4525088326495712658-n-17224151013751161245933-0-89-972-1644-crop-1722415117728621992999.jpg" alt="Hình ảnh 9">
                <h2>Đắk Lắk: Bắt nhóm đối tượng dương tính ma túy vác súng đi giải quyết mâu thuẫn</h2>
            </a>
            <!-- Mục sidebar 10 -->
            <a href="link-to-article10.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/picture1-17224109714081626114804-0-0-823-1317-crop-17224109885551606756775.png" alt="Hình ảnh 10">
                <h2>Lĩnh 18 năm tù vì đâm chết bạn nhậu</h2>
            </a>
            <!-- Thêm các mục mới -->
            <!-- Mục sidebar 11 -->
            <a href="link-to-article11.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5684771077012-8f91530d6c920c57414df69f4b560573-17224062207761984009830-159-0-919-1216-crop-17224062264721326213500.jpg" alt="Hình ảnh 11">
                <h2>
                    Bắt một công chứng viên trong vụ lừa hơn 3 tỷ đồng ở Lai Châu
                </h2>
            </a>
            <!-- Mục sidebar 12 -->
            <a href="link-to-article12.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/1-1722403213714905521976-0-0-400-640-crop-1722403217898147930198.jpg" alt="Hình ảnh 12">
                <h2>Lời khai của nghi phạm chém tử vong con dâu ở Sóc Trăng</h2>
            </a>
            <!-- Mục sidebar 13 -->
            <a href="link-to-article13.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/edit-z5684968486008d5b8f367f4ceb0ea11dfb171278eae64-1722402309937835649920-24-0-720-1114-crop-17224023568002133206434.jpeg" alt="Hình ảnh 13">
                <h2>Nam thanh niên vờ đi nhờ xe rồi ra tay sát hại nam công nhân, cướp tài sản</h2>
            </a>
            <!-- Mục sidebar 14 -->
            <a href="link-to-article14.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5682571379697c802253da746f92d4a1bd832e9178976-17223322811451751204160-0-32-376-634-crop-1722396533694223824066.jpg" alt="Hình ảnh 14">
                <h2>Bắt khẩn cấp người đàn ông châm lửa đốt cây xăng ở Nha Trang</h2>
            </a>
            <!-- Mục sidebar 15 -->
            <a href="link-to-article15.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/a3-1722410330351217999098-84-0-1334-2000-crop-17224103386691924933721.jpg" alt="Hình ảnh 15">
                <h2>
                    Cựu giám đốc CDC tỉnh Đắk Lắk phủ nhận việc nhận tiền hối lộ
                </h2>
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/fd/10/dd/fd10ddd283008e79581d5cb932557f0e.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/88/9b/df/889bdf2ca4a37a67a353ea767b9e4d6d.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/23/85/94/2385946d183fa73b07f3ef9777e782d5.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/70/5a/8b/705a8b6ec9f10b8be533f60bef701586.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/bd/91/0e/bd910eb02bfdbe93dcdc71c0d6ba862f.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/dc/37/2d/dc372d016062057c76b8112aff70aad7.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/736x/75/bb/36/75bb36f4f0a70e2a1faac5fc524f5629.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/86/6d/24/866d24d7592145b6a1c10c04a03a4e2c.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>

        </div>
    </aside>


