@model Web_News.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_LayoutForgotPassword";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
}

<div class="form-container">
    <form asp-action="ForgotPassword" method="post">
        <div class="info-text">
            <h1>Quên mật khẩu</h1>
            <h2>Vui lòng nhập địa chỉ email của bạn.</h2>
            <h3> Chúng tôi sẽ gửi mã xác nhận để khôi phục mật khẩu vào email này.</h3>
        </div>
        <div class="form-group">

            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-footer">
            <div>
                <a asp-action="Login" class="back-link">Quay lại</a>
            </div>
            <div class="signup-text">
                Bạn đã có tài khoản? <a asp-action="Login" class="signup-link">Đăng nhập</a>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="nut-custom">Tiếp theo</button>
        </div>
    </form>
</div>




