@model Web_News.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_LayoutLogin";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Nhập vào Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="nut-custom">Gửi mã xác nhận</button>
    </div>

</form>

<div>
    <a asp-action="Login">Quay lại đăng nhập</a>
</div>
