@model Web_News.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ChangePass";
    Layout = "_LayoutLogin";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}
<div id="countdown" class="alert alert-info">
    Mã xác nhận sẽ hết hạn trong <span id="time">1:00</span> phút.
</div>
<form asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label asp-for="ResetCode" class="control-label"></label>
        <input asp-for="ResetCode" class="form-control" placeholder="Nhập mã xác nhận" />
        <span asp-validation-for="ResetCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="nut-custom">Đổi mật khẩu</button>
    </div>
</form>

<div>
    <a asp-action="Login">Quay lại đăng nhập</a>
</div>
