@model Web_News.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "_LayoutForgotPassword";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
{
    <div class="alert alert-danger">
        <strong>Lỗi:</strong>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


<div class="form-container">
    <form asp-action="ResetPassword" method="post">
        <div class="info-text">
            <h1>Đổi mật khẩu</h1>
            <h3>Nhập mật khẩu mới của bạn.</h3>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">Mật khẩu mới</label>
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label">Xác nhận mật khẩu</label>
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <div class="form-footer">
            <div>
                <button type="submit" class="nut-custom">Đổi mật khẩu</button>
            </div>
            <div class="signup-text">
                <a asp-action="Login" class="signup-link">Quay lại đăng nhập</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@*     <script>
        $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Đổi mật khẩu thành công',
                        text: '@Html.Raw(Json.Encode(TempData["SuccessMessage"]))',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '@Url.Action("Login", "Account")';
                        }
                    });
            </text>
        }
        });
    </script> *@
}
